e2e/fixtures/*.jpg filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.jpeg filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.png filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.dng filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.svg filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.heic filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.mp4 filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.tif filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.wav filter=lfs diff=lfs merge=lfs -text
e2e/fixtures/*.tiff filter=lfs diff=lfs merge=lfs -text