node_modules/
dist/
pkg/
/build-artifacts/
.DS_Store
**/.history
/src/tmp/
.routify
*.log
.vscode
.idea
test-results
.yarn/
.yarnrc.yml
*.terraform*
.dccache
.env

# Local Netlify folder
.netlify

# sveltekit
.svelte-kit

# vite
vite.config.js.timestamp-*