@c2pa:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-c2pa-sdk-release/
@ccx-public:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@intl:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
