_auth = ${ARTIFACTORY_API_TOKEN}
email = ${ARTIFACTORY_USER}@adobe.com
always-auth = true

@intl:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/

//npm.pkg.github.com/:_authToken=${PUBLIC_GITHUB_PACKAGE_TOKEN}
@contentauth:registry=https://npm.pkg.github.com