{
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "svelteBracketNewLine": false,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.config.js",
      "options": {
        "quoteProps": "preserve"
      }
    }
  ]
}
