:root {
  --black: rgb(0, 0, 0);
  --blue: rgb(20, 115, 230);
  --blue-200: rgb(90, 169, 250);
  --blue-300: rgb(75, 156, 245);
  --blue-400: rgb(55, 142, 240);
  --blue-500: rgb(38, 128, 235);
  --blue-600: rgb(20, 115, 230);
  --blue-700: rgb(13, 102, 208);
  --blue-800: rgb(9, 90, 186);
  --border-size-thick: 2px;
  --border-size-thicker: 4px;
  --border-size-thickest: 8px;
  --border-size-thin: 1px;
  --celery-200: rgb(88, 224, 111);
  --celery-300: rgb(81, 210, 103);
  --celery-400: rgb(75, 195, 95);
  --celery-500: rgb(68, 181, 86);
  --celery-600: rgb(61, 167, 78);
  --celery-700: rgb(55, 153, 71);
  --celery-800: rgb(49, 139, 64);
  --chartreuse-300: rgb(155, 236, 84);
  --chartreuse-400: rgb(142, 222, 73);
  --chartreuse-500: rgb(133, 208, 68);
  --chartreuse-600: rgb(124, 195, 63);
  --chartreuse-700: rgb(115, 181, 58);
  --chartreuse-800: rgb(106, 168, 52);
  --duration-0: 0ms;
  --duration-100: 130ms;
  --duration-200: 160ms;
  --duration-300: 190ms;
  --duration-400: 220ms;
  --duration-500: 250ms;
  --duration-600: 300ms;
  --duration-700: 350ms;
  --duration-800: 400ms;
  --duration-900: 450ms;
  --duration-1000: 500ms;
  --duration-2000: 1000ms;
  --duration-4000: 2000ms;
  --ease-in: (0.5, 0, 1, 1);
  --ease-in-out: (0.45, 0, 0.4, 1);
  --ease-out: (0, 0, 0.4, 1);
  --family-base: adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --family-code: 'Source Code Pro', Monaco, monospace;
  --family-serif: adobe-clean-serif, 'Source Serif Pro', Georgia, serif;
  --family-home: 'Acumen Pro Wide',
  --font-family-ar: myriad-arabic, adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --font-family-condensed: adobe-clean-han-traditional, source-han-traditional,
    'MingLiu', 'Heiti TC Light', adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --font-family-he: myriad-hebrew, adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --font-family-ja: adobe-clean-han-japanese, source-han-japanese, 'Yu Gothic',
    '\30E1 \30A4 \30EA \30AA', '\30D2 \30E9 \30AE \30CE \89D2 \30B4  Pro W3',
    'Hiragino Kaku Gothic Pro W3', 'Osaka',
    '\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF', 'MS PGothic', 'sans-serif';
  --font-family-ko: adobe-clean-han-korean, source-han-korean, 'Malgun Gothic',
    'Apple Gothic', 'sans-serif';
  --font-family-zh: adobe-clean-han-traditional, source-han-traditional,
    'MingLiu', 'Heiti TC Light', 'sans-serif';
  --font-family-zhhans: adobe-clean-han-simplified-c, source-han-simplified-c,
    'SimSun', 'Heiti SC Light', 'sans-serif';
  --font-size-50: 11px;
  --font-size-75: 12px;
  --font-size-100: 14px;
  --font-size-150: 15px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 20px;
  --font-size-500: 22px;
  --font-size-600: 25px;
  --font-size-700: 28px;
  --font-size-800: 32px;
  --font-size-900: 36px;
  --font-size-1000: 40px;
  --font-size-1300: 60px;
  --fuchsia-400: rgb(207, 62, 220);
  --fuchsia-500: rgb(192, 56, 204);
  --fuchsia-600: rgb(177, 48, 189);
  --fuchsia-700: rgb(162, 40, 173);
  --fuchsia-800: rgb(147, 33, 158);
  --gray-50: rgb(255, 255, 255);
  --gray-75: rgb(255, 255, 255);
  --gray-100: rgb(255, 255, 255);
  --gray-200: rgb(244, 244, 244);
  --gray-300: rgb(234, 234, 234);
  --gray-400: rgb(211, 211, 211);
  --gray-500: rgb(188, 188, 188);
  --gray-600: rgb(149, 149, 149);
  --gray-700: rgb(116, 116, 116);
  --gray-800: rgb(80, 80, 80);
  --gray-900: rgb(50, 50, 50);
  --green-400: rgb(51, 171, 132);
  --green-500: rgb(45, 157, 120);
  --green-600: rgb(38, 142, 108);
  --green-700: rgb(18, 128, 92);
  --green-800: rgb(16, 113, 84);
  --indigo-200: rgb(144, 144, 250);
  --indigo-300: rgb(130, 130, 246);
  --indigo-400: rgb(117, 117, 241);
  --indigo-500: rgb(103, 103, 236);
  --indigo-600: rgb(92, 92, 224);
  --indigo-700: rgb(81, 81, 211);
  --indigo-800: rgb(70, 70, 198);
  --letter-spacing-han: 0.05em;
  --letter-spacing-none: 0;
  --line-height-large: 1.7;
  --line-height-medium: 1.5;
  --line-height-small: 1.3;
  --magenta-200: rgb(245, 107, 183);
  --magenta-300: rgb(236, 90, 170);
  --magenta-400: rgb(226, 73, 157);
  --magenta-500: rgb(216, 55, 144);
  --magenta-600: rgb(202, 41, 130);
  --magenta-700: rgb(188, 28, 116);
  --magenta-800: rgb(174, 14, 102);
  --opacity-4: 0.04;
  --opacity-5: 0.05;
  --opacity-6: 0.06;
  --opacity-7: 0.07;
  --opacity-8: 0.08;
  --opacity-10: 0.1;
  --opacity-15: 0.15;
  --opacity-20: 0.2;
  --opacity-25: 0.25;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-42: 0.42;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --opacity-100: 1;
  --orange-400: rgb(242, 148, 35);
  --orange-500: rgb(230, 134, 25);
  --orange-600: rgb(218, 123, 17);
  --orange-700: rgb(203, 111, 16);
  --orange-800: rgb(189, 100, 13);
  --purple-400: rgb(157, 100, 225);
  --purple-600: rgb(134, 76, 204);
  --purple-700: rgb(122, 66, 191);
  --purple-800: rgb(111, 56, 177);
  --red-400: rgb(236, 91, 98);
  --red-500: rgb(227, 72, 80);
  --red-600: rgb(215, 55, 63);
  --red-700: rgb(201, 37, 45);
  --red-800: rgb(187, 18, 26);
  --seafoam-200: rgb(38, 192, 199);
  --seafoam-300: rgb(35, 178, 184);
  --seafoam-400: rgb(32, 163, 168);
  --seafoam-500: rgb(27, 149, 154);
  --seafoam-600: rgb(22, 135, 140);
  --seafoam-700: rgb(15, 121, 125);
  --seafoam-800: rgb(9, 108, 111);
  --size-0: 0px;
  --size-10: 1px;
  --size-25: 2px;
  --size-40: 3px;
  --size-50: 4px;
  --size-65: 5px;
  --size-75: 6px;
  --size-85: 7px;
  --size-100: 8px;
  --size-115: 9px;
  --size-125: 10px;
  --size-130: 11px;
  --size-150: 12px;
  --size-160: 13px;
  --size-175: 14px;
  --size-200: 16px;
  --size-225: 18px;
  --size-250: 20px;
  --size-275: 22px;
  --size-300: 24px;
  --size-325: 26px;
  --size-400: 32px;
  --size-450: 36px;
  --size-500: 40px;
  --size-550: 44px;
  --size-600: 48px;
  --size-700: 56px;
  --size-800: 64px;
  --size-900: 72px;
  --size-1000: 80px;
  --size-1200: 96px;
  --size-1700: 136px;
  --size-2400: 192px;
  --size-2500: 200px;
  --size-2600: 208px;
  --size-2800: 224px;
  --size-3200: 256px;
  --size-3400: 272px;
  --size-3500: 280px;
  --size-3600: 288px;
  --size-3800: 304px;
  --size-4600: 368px;
  --size-5000: 400px;
  --size-6000: 480px;
  --size-16000: 1280px;
  --style-italic: italic;
  --weight-black: 900;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-thin: 100;
  --weight-ultra-light: 200;
  --white: rgb(255, 255, 255);
  --yellow-200: rgb(255, 226, 46);
  --yellow-300: rgb(250, 217, 0);
  --yellow-400: rgb(237, 204, 0);
  --yellow-500: rgb(223, 191, 0);
  --yellow-600: rgb(210, 178, 0);
  --yellow-700: rgb(196, 166, 0);
  --yellow-800: rgb(183, 153, 0);
}

.theme-lightest {
  --blue-400: rgb(55, 142, 240);
  --blue-500: rgb(38, 128, 235);
  --blue-600: rgb(20, 115, 230);
  --blue-700: rgb(13, 102, 208);
  --celery-400: rgb(75, 195, 95);
  --celery-500: rgb(68, 181, 86);
  --celery-600: rgb(61, 167, 78);
  --celery-700: rgb(55, 153, 71);
  --chartreuse-400: rgb(142, 222, 73);
  --chartreuse-500: rgb(133, 208, 68);
  --chartreuse-600: rgb(124, 195, 63);
  --chartreuse-700: rgb(115, 181, 58);
  --fuchsia-400: rgb(207, 62, 220);
  --fuchsia-500: rgb(192, 56, 204);
  --fuchsia-600: rgb(177, 48, 189);
  --fuchsia-700: rgb(162, 40, 173);
  --gray-50: rgb(255, 255, 255);
  --gray-75: rgb(255, 255, 255);
  --gray-100: rgb(255, 255, 255);
  --gray-200: rgb(244, 244, 244);
  --gray-300: rgb(234, 234, 234);
  --gray-400: rgb(211, 211, 211);
  --gray-500: rgb(188, 188, 188);
  --gray-600: rgb(149, 149, 149);
  --gray-700: rgb(116, 116, 116);
  --gray-800: rgb(80, 80, 80);
  --gray-900: rgb(50, 50, 50);
  --green-400: rgb(51, 171, 132);
  --green-500: rgb(45, 157, 120);
  --green-600: rgb(38, 142, 108);
  --green-700: rgb(18, 128, 92);
  --indigo-400: rgb(117, 117, 241);
  --indigo-500: rgb(103, 103, 236);
  --indigo-600: rgb(92, 92, 224);
  --indigo-700: rgb(81, 81, 211);
  --magenta-400: rgb(226, 73, 157);
  --magenta-500: rgb(216, 55, 144);
  --magenta-600: rgb(202, 41, 130);
  --magenta-700: rgb(188, 28, 116);
  --orange-400: rgb(242, 148, 35);
  --orange-500: rgb(230, 134, 25);
  --orange-600: rgb(218, 123, 17);
  --orange-700: rgb(203, 111, 16);
  --purple-400: rgb(157, 100, 225);
  --blue-500: rgb(146, 86, 217);
  --purple-600: rgb(134, 76, 204);
  --purple-700: rgb(122, 66, 191);
  --red-400: rgb(236, 91, 98);
  --red-500: rgb(227, 72, 80);
  --red-600: rgb(215, 55, 63);
  --red-700: rgb(201, 37, 45);
  --seafoam-400: rgb(32, 163, 168);
  --seafoam-500: rgb(27, 149, 154);
  --seafoam-600: rgb(22, 135, 140);
  --seafoam-700: rgb(15, 121, 125);
  --yellow-400: rgb(237, 204, 0);
  --yellow-500: rgb(223, 191, 0);
  --yellow-600: rgb(210, 178, 0);
  --yellow-700: rgb(196, 166, 0);
}

.theme-light {
  --blue-400: rgb(38, 128, 235);
  --blue-500: rgb(20, 115, 230);
  --blue-600: rgb(13, 102, 208);
  --blue-700: rgb(9, 90, 186);
  --celery-400: rgb(68, 181, 86);
  --celery-500: rgb(61, 167, 78);
  --celery-600: rgb(55, 153, 71);
  --celery-700: rgb(49, 139, 64);
  --chartreuse-400: rgb(133, 208, 68);
  --chartreuse-500: rgb(124, 195, 63);
  --chartreuse-600: rgb(115, 181, 58);
  --chartreuse-700: rgb(106, 168, 52);
  --fuchsia-400: rgb(192, 56, 204);
  --fuchsia-500: rgb(177, 48, 189);
  --fuchsia-600: rgb(162, 40, 173);
  --fuchsia-700: rgb(147, 33, 158);
  --gray-50: rgb(255, 255, 255);
  --gray-75: rgb(250, 250, 250);
  --gray-100: rgb(245, 245, 245);
  --gray-200: rgb(234, 234, 234);
  --gray-300: rgb(225, 225, 225);
  --gray-400: rgb(202, 202, 202);
  --gray-500: rgb(179, 179, 179);
  --gray-600: rgb(142, 142, 142);
  --gray-700: rgb(110, 110, 110);
  --gray-800: rgb(75, 75, 75);
  --gray-900: rgb(44, 44, 44);
  --green-400: rgb(45, 157, 120);
  --green-500: rgb(38, 142, 108);
  --green-600: rgb(18, 128, 92);
  --green-700: rgb(16, 113, 84);
  --indigo-400: rgb(103, 103, 236);
  --indigo-500: rgb(92, 92, 224);
  --indigo-600: rgb(81, 81, 211);
  --indigo-700: rgb(70, 70, 198);
  --magenta-400: rgb(216, 55, 144);
  --magenta-500: rgb(206, 39, 131);
  --magenta-600: rgb(188, 28, 116);
  --magenta-700: rgb(174, 14, 102);
  --orange-400: rgb(230, 134, 25);
  --orange-500: rgb(218, 123, 17);
  --orange-600: rgb(203, 111, 16);
  --orange-700: rgb(189, 100, 13);
  --purple-400: rgb(146, 86, 217);
  --purple-600: rgb(122, 66, 191);
  --purple-700: rgb(111, 56, 177);
  --red-400: rgb(227, 72, 80);
  --red-500: rgb(215, 55, 63);
  --red-600: rgb(201, 37, 45);
  --red-700: rgb(187, 18, 26);
  --seafoam-400: rgb(27, 149, 154);
  --seafoam-500: rgb(22, 135, 140);
  --seafoam-600: rgb(15, 121, 125);
  --seafoam-700: rgb(9, 108, 111);
  --yellow-400: rgb(223, 191, 0);
  --yellow-500: rgb(210, 178, 0);
  --yellow-600: rgb(196, 166, 0);
  --yellow-700: rgb(183, 153, 0);
}

.theme-midlight {
  --blue-400: rgb(20, 115, 230);
  --blue-500: rgb(13, 102, 208);
  --blue-600: rgb(9, 90, 186);
  --blue-700: rgb(6, 79, 165);
  --celery-400: rgb(61, 167, 78);
  --celery-500: rgb(55, 153, 71);
  --celery-600: rgb(49, 139, 64);
  --celery-700: rgb(43, 125, 56);
  --chartreuse-400: rgb(124, 195, 63);
  --chartreuse-500: rgb(115, 181, 58);
  --chartreuse-600: rgb(106, 168, 52);
  --chartreuse-700: rgb(97, 155, 47);
  --fuchsia-400: rgb(177, 48, 189);
  --fuchsia-500: rgb(162, 40, 173);
  --fuchsia-600: rgb(147, 33, 158);
  --fuchsia-700: rgb(132, 26, 142);
  --gray-50: rgb(240, 240, 240);
  --gray-75: rgb(228, 228, 228);
  --gray-100: rgb(220, 220, 220);
  --gray-200: rgb(210, 210, 210);
  --gray-300: rgb(202, 202, 202);
  --gray-400: rgb(180, 180, 180);
  --gray-500: rgb(160, 160, 160);
  --gray-600: rgb(125, 125, 125);
  --gray-700: rgb(97, 97, 97);
  --gray-800: rgb(60, 60, 60);
  --gray-900: rgb(25, 25, 25);
  --green-400: rgb(38, 142, 108);
  --green-500: rgb(18, 128, 92);
  --green-600: rgb(16, 113, 84);
  --green-700: rgb(20, 99, 72);
  --indigo-400: rgb(92, 92, 224);
  --indigo-500: rgb(81, 81, 211);
  --indigo-600: rgb(70, 70, 198);
  --indigo-700: rgb(59, 59, 186);
  --magenta-400: rgb(202, 41, 150);
  --magenta-500: rgb(188, 28, 116);
  --magenta-600: rgb(174, 14, 102);
  --magenta-700: rgb(160, 0, 88);
  --orange-400: rgb(218, 123, 17);
  --orange-500: rgb(203, 111, 16);
  --orange-600: rgb(189, 100, 13);
  --orange-700: rgb(176, 90, 8);
  --purple-400: rgb(134, 76, 204);
  --blue-500: rgb(122, 66, 191);
  --purple-600: rgb(111, 56, 177);
  --purple-700: rgb(99, 46, 164);
  --red-400: rgb(215, 55, 63);
  --red-500: rgb(201, 37, 45);
  --red-600: rgb(187, 18, 26);
  --red-700: rgb(170, 13, 21);
  --seafoam-400: rgb(22, 135, 140);
  --seafoam-500: rgb(15, 121, 125);
  --seafoam-600: rgb(9, 108, 111);
  --seafoam-700: rgb(8, 96, 99);
  --yellow-400: rgb(210, 178, 0);
  --yellow-500: rgb(196, 166, 0);
  --yellow-600: rgb(183, 153, 0);
  --yellow-700: rgb(170, 140, 0);
}

.theme-middark {
  --blue-400: rgb(55, 142, 240);
  --blue-500: rgb(75, 156, 245);
  --blue-600: rgb(90, 169, 250);
  --blue-700: rgb(108, 182, 255);
  --celery-400: rgb(75, 195, 95);
  --celery-500: rgb(81, 210, 103);
  --celery-600: rgb(88, 224, 111);
  --celery-700: rgb(92, 235, 117);
  --chartreuse-400: rgb(142, 222, 73);
  --chartreuse-500: rgb(155, 236, 84);
  --chartreuse-600: rgb(163, 248, 88);
  --chartreuse-700: rgb(171, 255, 92);
  --fuchsia-400: rgb(207, 62, 220);
  --fuchsia-500: rgb(217, 81, 229);
  --fuchsia-600: rgb(227, 102, 239);
  --fuchsia-700: rgb(237, 119, 248);
  --gray-50: rgb(63, 63, 63);
  --gray-75: rgb(71, 71, 71);
  --gray-100: rgb(75, 75, 75);
  --gray-200: rgb(81, 81, 81);
  --gray-300: rgb(87, 87, 87);
  --gray-400: rgb(101, 101, 101);
  --gray-500: rgb(118, 118, 118);
  --gray-600: rgb(152, 152, 152);
  --gray-700: rgb(186, 186, 186);
  --gray-800: rgb(245, 245, 245);
  --gray-900: rgb(255, 255, 255);
  --green-400: rgb(51, 171, 132);
  --green-500: rgb(57, 185, 144);
  --green-600: rgb(63, 200, 156);
  --green-700: rgb(69, 214, 168);
  --indigo-400: rgb(117, 117, 241);
  --indigo-500: rgb(130, 130, 246);
  --indigo-600: rgb(144, 144, 250);
  --indigo-700: rgb(157, 157, 255);
  --magenta-400: rgb(226, 73, 157);
  --magenta-500: rgb(236, 90, 170);
  --magenta-600: rgb(245, 107, 183);
  --magenta-700: rgb(255, 125, 196);
  --orange-400: rgb(242, 148, 35);
  --orange-500: rgb(249, 164, 63);
  --orange-600: rgb(255, 181, 91);
  --orange-700: rgb(255, 192, 101);
  --purple-400: rgb(157, 100, 225);
  --blue-500: rgb(168, 115, 233);
  --purple-600: rgb(180, 131, 240);
  --purple-700: rgb(190, 143, 248);
  --red-400: rgb(236, 91, 98);
  --red-500: rgb(247, 109, 116);
  --red-600: rgb(255, 123, 130);
  --red-700: rgb(255, 146, 151);
  --seafoam-400: rgb(32, 163, 168);
  --seafoam-500: rgb(35, 178, 184);
  --seafoam-600: rgb(38, 192, 199);
  --seafoam-700: rgb(32, 207, 214);
  --yellow-400: rgb(237, 204, 0);
  --yellow-500: rgb(250, 217, 0);
  --yellow-600: rgb(255, 226, 46);
  --yellow-700: rgb(255, 233, 74);
}

.theme-dark {
  --blue-400: rgb(38, 128, 235);
  --blue-500: rgb(55, 142, 240);
  --blue-600: rgb(75, 156, 245);
  --blue-700: rgb(90, 169, 250);
  --celery-400: rgb(68, 181, 86);
  --celery-500: rgb(75, 195, 95);
  --celery-600: rgb(81, 210, 103);
  --celery-700: rgb(88, 224, 111);
  --chartreuse-400: rgb(133, 208, 68);
  --chartreuse-500: rgb(142, 222, 73);
  --chartreuse-600: rgb(155, 236, 84);
  --chartreuse-700: rgb(163, 248, 88);
  --fuchsia-400: rgb(192, 56, 204);
  --fuchsia-500: rgb(207, 62, 220);
  --fuchsia-600: rgb(217, 81, 229);
  --fuchsia-700: rgb(227, 102, 239);
  --gray-50: rgb(37, 37, 37);
  --gray-75: rgb(47, 47, 47);
  --gray-100: rgb(50, 50, 50);
  --gray-200: rgb(62, 62, 62);
  --gray-300: rgb(74, 74, 74);
  --gray-400: rgb(90, 90, 90);
  --gray-500: rgb(110, 110, 110);
  --gray-600: rgb(144, 144, 144);
  --gray-700: rgb(185, 185, 185);
  --gray-800: rgb(227, 227, 227);
  --gray-900: rgb(255, 255, 255);
  --green-400: rgb(45, 157, 120);
  --green-500: rgb(51, 171, 132);
  --green-600: rgb(57, 185, 144);
  --green-700: rgb(63, 200, 156);
  --indigo-400: rgb(103, 103, 236);
  --indigo-500: rgb(117, 117, 241);
  --indigo-600: rgb(130, 130, 246);
  --indigo-700: rgb(144, 144, 250);
  --magenta-400: rgb(216, 55, 144);
  --magenta-500: rgb(226, 73, 157);
  --magenta-600: rgb(236, 90, 170);
  --magenta-700: rgb(245, 107, 183);
  --orange-400: rgb(230, 134, 25);
  --orange-500: rgb(242, 148, 35);
  --orange-600: rgb(249, 164, 63);
  --orange-700: rgb(255, 181, 91);
  --purple-400: rgb(146, 86, 217);
  --blue-500: rgb(157, 100, 225);
  --purple-600: rgb(168, 115, 233);
  --purple-700: rgb(180, 131, 240);
  --red-400: rgb(227, 72, 80);
  --red-500: rgb(236, 91, 98);
  --red-600: rgb(247, 109, 116);
  --red-700: rgb(255, 123, 130);
  --seafoam-400: rgb(27, 149, 154);
  --seafoam-500: rgb(32, 163, 168);
  --seafoam-600: rgb(35, 178, 184);
  --seafoam-700: rgb(38, 192, 199);
  --yellow-400: rgb(223, 191, 0);
  --yellow-500: rgb(237, 204, 0);
  --yellow-600: rgb(250, 217, 0);
  --yellow-700: rgb(255, 226, 46);
}

.theme-darkest {
  --blue-400: rgb(20, 115, 230);
  --blue-500: rgb(38, 128, 235);
  --blue-600: rgb(55, 142, 240);
  --blue-700: rgb(75, 156, 245);
  --celery-400: rgb(61, 167, 78);
  --celery-500: rgb(68, 181, 86);
  --celery-600: rgb(75, 195, 95);
  --celery-700: rgb(81, 210, 103);
  --chartreuse-400: rgb(124, 195, 63);
  --chartreuse-500: rgb(133, 208, 68);
  --chartreuse-600: rgb(142, 222, 73);
  --chartreuse-700: rgb(155, 236, 84);
  --fuchsia-400: rgb(177, 48, 189);
  --fuchsia-500: rgb(192, 56, 204);
  --fuchsia-600: rgb(207, 62, 220);
  --fuchsia-700: rgb(217, 81, 229);
  --gray-50: rgb(8, 8, 8);
  --gray-75: rgb(26, 26, 26);
  --gray-100: rgb(30, 30, 30);
  --gray-200: rgb(44, 44, 44);
  --gray-300: rgb(57, 57, 57);
  --gray-400: rgb(73, 73, 73);
  --gray-500: rgb(92, 92, 92);
  --gray-600: rgb(124, 124, 124);
  --gray-700: rgb(162, 162, 162);
  --gray-800: rgb(200, 200, 200);
  --gray-900: rgb(239, 239, 239);
  --green-400: rgb(38, 142, 108);
  --green-500: rgb(45, 157, 120);
  --green-600: rgb(51, 171, 132);
  --green-700: rgb(57, 185, 144);
  --indigo-400: rgb(92, 92, 224);
  --indigo-500: rgb(103, 103, 236);
  --indigo-600: rgb(117, 117, 241);
  --indigo-700: rgb(130, 130, 246);
  --magenta-400: rgb(202, 41, 150);
  --magenta-500: rgb(216, 55, 144);
  --magenta-600: rgb(226, 73, 157);
  --magenta-700: rgb(236, 90, 170);
  --orange-400: rgb(218, 123, 17);
  --orange-500: rgb(230, 134, 25);
  --orange-600: rgb(242, 148, 35);
  --orange-700: rgb(249, 164, 63);
  --purple-400: rgb(134, 76, 204);
  --blue-500: rgb(146, 86, 217);
  --purple-600: rgb(157, 100, 225);
  --purple-700: rgb(168, 115, 223);
  --red-400: rgb(215, 55, 63);
  --red-500: rgb(227, 72, 80);
  --red-600: rgb(236, 91, 98);
  --red-700: rgb(247, 109, 116);
  --seafoam-400: rgb(22, 135, 140);
  --seafoam-500: rgb(27, 149, 154);
  --seafoam-600: rgb(32, 163, 168);
  --seafoam-700: rgb(35, 178, 184);
  --yellow-400: rgb(210, 178, 0);
  --yellow-500: rgb(223, 191, 0);
  --yellow-600: rgb(237, 204, 0);
  --yellow-700: rgb(250, 217, 0);
}
