/* ADOBE CONFIDENTIAL
Copyright 2023 Adobe
All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of Adobe and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to Adobe
and its suppliers and are protected by all applicable intellectual
property laws, including trade secret and copyright laws.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Adobe. */

@import 'tippy.js/dist/tippy.css';
@import './vars.css';
@import './preflight.css';
/* @import './spectrum-vars.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-box[data-theme~='cai'] {
  @apply bg-white p-0 text-body text-gray-900;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));

  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: white;
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: white;
  }

  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: white;
  }

  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: white;
  }

  > .tippy-content {
    @apply p-2;
  }

  > .tippy-backdrop {
    @apply bg-white;
  }

  > .tippy-svg-arrow {
    fill: #fff;
  }
}
