/* ADOBE CONFIDENTIAL
Copyright 2023 Adobe
All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of Adobe and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to Adobe
and its suppliers and are protected by all applicable intellectual
property laws, including trade secret and copyright laws.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Adobe. */

:root {
  --family-base: 'Store Norske Ja', Arial, Helvetica, sans-serif;
  --family-serif: adobe-clean-serif, 'Source Serif Pro', Georgia, serif;
  --family-home: 'Store Norske Ja', Arial, Helvetica, sans-serif;
  --font-family-ar: myriad-arabic, adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --font-family-condensed: adobe-clean-han-traditional, source-han-traditional,
    'MingLiu', 'Heiti TC Light', adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --font-family-he: myriad-hebrew, adobe-clean, 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
    'Lucida Grande', sans-serif;
  --font-family-ja: adobe-clean-han-japanese, source-han-japanese, 'Yu Gothic',
    '\30E1 \30A4 \30EA \30AA', '\30D2 \30E9 \30AE \30CE \89D2 \30B4  Pro W3',
    'Hiragino Kaku Gothic Pro W3', 'Osaka',
    '\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF', 'MS PGothic', 'sans-serif';
  --font-family-ko: adobe-clean-han-korean, source-han-korean, 'Malgun Gothic',
    'Apple Gothic', 'sans-serif';
  --font-family-zh: adobe-clean-han-traditional, source-han-traditional,
    'MingLiu', 'Heiti TC Light', 'sans-serif';
  --font-family-zhhans: adobe-clean-han-simplified-c, source-han-simplified-c,
    'SimSun', 'Heiti SC Light', 'sans-serif';
}

.theme-light {
  --gray-40: #f5f5f5;
  --gray-100: #e5e5e5;
  --gray-200: #cccccc;
  --gray-300: #b3b3b3;
  --gray-400: #999999;
  --gray-500: #808080;
  --gray-600: #666666;
  --gray-700: #4c4c4c;
  --gray-800: #333333;
  --gray-900: #1a1a1a;

  --blue-100: #e0f2ff;
  --blue-200: #cae8ff;
  --blue-300: #b5deff;
  --blue-400: #96cefd;
  --blue-500: #78bbfa;
  --blue-600: #59a7f6;
  --blue-700: #3892f3;
  --blue-800: #147af3;
  --blue-900: #0265dc;
  --blue-1000: #0054b6;
  --blue-1100: #004491;
  --blue-1200: #003571;
  --blue-1300: #002754;

  --orange-700: #e46f00;

  --red-900: #d31510;
  --red-1000: #b40000;

  --brand-red: #c37891;

  --brand-blue: #84c7fc;

  --brand-green: #5ac97d;

  --brand-yellow: #ffc840;

  --brand-orange: #ffa573;

  --brand-violet: #85a0fa;

  --brand-white: #ffffff;

  --brand-gray: #707070;
}
